{% extends "base.html" %}
    
        
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h2>ADMIN PAGE</h2>
          </div>
        </div>
      </div>
    </div>
  </header>
<div class="login2">
<table class="login3" style="border: 2px solid black;">
    <thead>
      <tr>
        <th scope="col">S.No.</th>
        <th scope="col">Title</th>
        <th scope="col">Slug</th>
        <th scope="col">Content</th>
        <th scope="col">Date</th>
        <th scope="col">Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
    {% for post in Posts %}
      <tr >
        <td>{{post.sno}}</td>
        <td>{{post.title}}</td>
        <td>{{post.post_slug}}</td>
        <td>{{post.content}}</td>
        <td>{{post.date}}</td>
        <td>
            <a href="#">EDIT</a>
            <a href="#">DELETE</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
</body>
</html>