{% extends "base.html" %}

{% block body %}


<div class="login">
    <div class="control-group">
    <img src="{{ url_for('static', filename='img/avatar.jpg') }}" alt="Avatar">
    <h1>FORM</h1>
    <form action='/login' method="POST">
        <label for="username">Name:</label>
        <input type="text" name="username" id="username" placeholder="Enter Your Userame">
        
        <label for="password">Username:</label>
        <input type="password" name="password" id="password" placeholder="Enter Your Password">
        
        <input id="button" type="submit" method="POST" value="Login"></input>
    </form>
</div>
</div> 
{% endblock %}
   
